body{

    background-color: black;
}

button{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(23, 245, 23);
    font-size: 60px;
    font-family: monospace;
    letter-spacing: 7px;
    padding: 10% 10% 10% 10%;
    border: 0px solid white;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(19, 192, 19);
    background-color: rgba(104, 104, 104, 0.315) ;
}